.home {
  overflow-x: hidden;
}

.home-banner {
  height: 437px;
  background-image: url("../images/OSF-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-banner-text {
  font-size: 60px;
  line-height: 80px;
  font-style: italic;
  font-weight: 900;
}

@media (max-width: 992px) {
  .home-banner {
    margin-top: -26px;
  }

  .home-banner-text {
    font-size: 50px;
    line-height: 68px;
  }
}

@media (max-width: 768px) {
  .home-banner {
    height: 820px;
  }

  .home-banner-text {
    padding-top: 70px;
    font-size: 40px;
    line-height: 58px;
  }
}

@media (max-width: 576px) {
  .home-banner-text {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .osf-schema {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 400px) {
  .home-banner-text {
    padding-bottom: 60px;
  }
}

.row-full {
  width: 100vw;
}

.osf-schema {
  color: $grijs-50;
  font-size: 14px;
  font-style: italic;
  font-weight: 900;
}

.osf-schema-row-up {
  margin-top: -14px;
}

.osf-schema-top-left {
  width: 28.95%;
}

.osf-schema-top {
  width: 27.63%;
}

.osf-schema-top-right {
  width: 23.68%;
}

.osf-schema-center-left {
  width: 40%;
}

.osf-schema-center {
  width: 24.71%;
}

.osf-schema-center-right {
  width: 35.29%;
}

.osf-schema-bottom-left {
  width: 28.95%;
}

.osf-schema-bottom {
  width: 27.63%;
}

.osf-schema-bottom-right {
  width: 21.05%;
}

.nieuws-agenda {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.entry-title {
  margin-bottom: 0;
  padding: 18px 25px;

  a {
    color: $zwart;
  }
}

.entry-summary {
  margin-bottom: 25px;
  padding: 0 25px 9px 25px;
}

.updated {
  margin-left: 25px;
  background-color: $zwart;
  color: white;
  padding: 1px 8px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.posts-navigation {
  background-color: $roze;
  margin-top: 25px;
  padding: 25px;
}

.nav-links {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  a {
    color: $zwart;

    &::after {
      content: " >";
    }
  }
}
