.projects h5 {
  font-weight: 600;
}

.projects-filter {
  margin: 0 25px 25px -50px;
  padding: 25px;
  font-size: 24px;
  width: 380px;
  height: 488px;
}

.projects-row {
  margin-top: -463px;

  &.no-projects {
    height: 448px;
  }
}

.completed-projects-hr {
  margin-left: -40px;
}

.completed-projects-text {
  background-color: $zwart;
  color: white;
  font-weight: 900;
  font-size: 19px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: -40px;
  width: 220px;
  text-align: center;
}

#no-results {
  display: none;
  height: 488px;
}

#remove-filters {
  display: none;

  a {
    color: white;
    font-size: 18px;
  }
}

.facetwp-facet.facetwp-type-search {
  margin-bottom: 15px;
}

.facetwp-type-search {
  .facetwp-btn {
    display: none;
  }

  .facetwp-search {
    width: 100%;
    border-style: none;
    border-radius: 6px;
    padding: 10px 20px;
  }
}

.facetwp-facet {
  margin-top: 15px;

  .facetwp-checkbox {
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    color: $donkerderblauw;
    letter-spacing: 0.04em;
    background-size: 40px 40px;
    padding-left: 40px;

    &:hover {
      color: $paars;
    }

    &[data-value="elections"] {
      background-image: url("../images/OSF-Icon-verkiezingen-hover.svg");

      &.checked {
        background-image: url("../images/OSF-Icon-verkiezingen.svg");
      }
    }

    &[data-value="decisions"] {
      background-image: url("../images/OSF-Icon-besluiten-hover.svg");
      background-position-x: -2px;

      &.checked {
        background-image: url("../images/OSF-Icon-besluiten.svg");
      }
    }

    &[data-value="finances"] {
      background-image: url("../images/OSF-Icon-financien-hover.svg");
      background-position-x: -8px;

      &.checked {
        background-image: url("../images/OSF-Icon-financien.svg");
      }
    }

    &[data-value="results"] {
      background-image: url("../images/OSF-Icon-resultaten-hover.svg");
      background-position-x: -3px;

      &.checked {
        background-image: url("../images/OSF-Icon-resultaten.svg");
      }
    }

    &[data-value="events"] {
      background-size: 14px 14px;
      background-position-x: 7px;
    }
  }
}

.page .image-cover {
  height: 260px;
}

.page .post .image-cover {
  height: 68px;
}

.bg-grijs-blauw {
  background: linear-gradient($grijs-5 55%, $lichtblauw 45%);
}

.carousel-controls {
  position: absolute;
  top: 50%;
  padding: 0;
}

.carousel-control-next {
  right: 28px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

.carousel-control-prev-icon::before {
  content: "<";
}

.carousel-control-next-icon::before {
  content: ">";
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;

  &::before {
    color: $blauw;
    font-size: 90px;
    font-weight: bold;
  }
}

.box {
  perspective: 170px;
  position: relative;

  .cube {
    transform: rotateY(10deg);

    .screenshot-big {
      transform: scale(0.7, 0.7);
      box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2), -6px 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.website-title-button {
  display: block;
  margin-bottom: 0;
  top: -60px;
  width: 230px;
}

#carouselControls .carousel-indicators {
  position: relative;
  list-style: none;
  margin: 0;

  li {
    width: 25%;
    // Set height of original carousel indicator lines to auto
    height: auto;
    background-color: inherit;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    border: none;

    &.active {
      z-index: 100;

      img {
        width: 192px;
        height: 120px;
        opacity: 1;
        transition: width 0.5s, height 0.5s, opacity 0.5s;
      }
    }

    &:not(.active) {
      .website-title-button {
        color: $blauw;
        border-color: $blauw;

        &:hover {
          color: white;
          background-color: $blauw;
        }
      }

      img {
        width: 160px;
        height: 100px;
        opacity: 0.5;
        transition: width 0.5s, height 0.5s, opacity 0.5s;
      }
    }

    div,
    div button {
      position: relative;
    }
  }
}

.carousel-item {
  h2 {
    font-size: 29px;
  }

  header {
    // make sure that the transformed .cube plane falls below the link
    position: relative;
    z-index: 100;
  }
}

.small-screenshot {
  flex-direction: column;
  height: 120px;
  margin-bottom: 20px;
}

.open-site {
  position: absolute;
  top: 50%;
  left: 20%;
  margin: 0;
}

.inverse-paars-button {
  /* stylelint-disable */
  a,
  button {
    color: $paars;
    background-color: white;

    &:hover {
      color: white;
      background-color: $paars;
    }
  }
  /* stylelint-enable */
}

.status {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
  letter-spacing: 0.04em;
}

.status-list {
  list-style: none;
  padding-left: 0;

  /* stylelint-disable */
  li {
    background-color: #ffffff00;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* stylelint-enable */
}

#carouselStatusControls .carousel-indicators {
  position: relative;
  margin: 0;
  top: 0;

  /* stylelint-disable */
  li {
    opacity: 1;
    width: 100%;
    height: auto;
    padding: 0;
  }

  img {
    opacity: 1;
  }
  /* stylelint-enable */
}

.status-indicator {
  background-color: white;
  font-style: italic;
  font-weight: 700;
  padding-top: 15px;
  border-radius: 6px;
  cursor: pointer;
  text-indent: 0;

  &:hover {
    background-color: $grijs-5;
  }
}

.active .status-indicator {
  background-color: $grijs-15;
}

#carouselStatusControls .status-indicator {
  /* stylelint-disable */
  img {
    height: auto;
    width: auto;
  }
  /* stylelint-enable */
}

.status-carousel {
  .carousel-control-prev {
    left: -40px;
  }

  .carousel-control-next {
    right: -12px;
  }
}

.status-box {
  padding: 50px;
}

.status-big {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 700;
  color: $zwart;
}

.status-wijzer {
  position: absolute;
  width: 24%;
  top: -28%;
  left: 38%;
}

.status-wijzer-1 {
  transform: rotate(-80deg);
  transform-origin: 50% 78%;
}

.status-wijzer-2 {
  transform: rotate(-40deg);
  transform-origin: 50% 78%;
}

.status-wijzer-3 {
  transform: rotate(0deg);
  transform-origin: 50% 78%;
}

.status-wijzer-4 {
  transform: rotate(40deg);
  transform-origin: 50% 78%;
}

.status-wijzer-5 {
  transform: rotate(80deg);
  transform-origin: 50% 78%;
}

.small-status-icon {
  width: 100px;
}

.status-meter-icon-wrapper {
  line-height: 14px;
}

.status-meter-icon {
  display: inline-block;
  width: 30px;
  height: 12px;
  background-color: white;
  border: 2px solid $grijs-10;
  border-radius: 4px;
  margin: 5px;
}

.status-score-1 {
  background-color: $grijs-5;
}

.status-score-2 {
  background-color: $donkerpaars;
}

.status-score-3 {
  background-color: $yellow;
}

.status-score-4 {
  background-color: $blauw;
}

.status-score-5 {
  background-color: $donkerblauw;
}

.left-corners {
  border: 1px solid $grijs-15;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.right-corners {
  border: 1px solid white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 100%;
}

.search-bar {
  padding: 25px;
  margin-bottom: 50px;
}

.page-news {
  h3 {
    font-weight: 700;
  }

  .updated {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .completed-projects-hr {
    margin-left: -30px;
  }

  .completed-projects-text {
    margin-left: -30px;
  }

  #no-results,
  .projects-filter {
    width: 320px;
  }

  .website-title-button {
    width: 190px;
  }

  .status-indicator {
    padding-top: 0;

    img {
      width: 50px !important;
    }
  }

  .status-meter-icon {
    margin: 0;
  }

  // On smaller screens we remove the left image box, so make the right box also have corners on the left
  .right-corners {
    border: 1px solid white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

@media (max-width: 991px) {
  #no-results,
  .projects-filter {
    width: 240px;
    height: 590px;
  }

  .projects-row {
    margin-top: -565px;

    &.no-projects {
      height: 550px;
    }
  }

  #carouselControls .carousel-indicators {
    top: 60px;

    li {
      width: auto;
    }
  }

  .carousel-item {
    h2 {
      font-size: 26px;
    }
  }

  .small-screenshot {
    height: auto;
  }

  .carousel-controls {
    top: 67%;
  }

  .status-box {
    padding: 25px;
  }

  .status-big {
    font-size: 28px;
  }

  .website-title-button {
    width: 300px;
  }
}

@media (max-width: 767px) {
  #no-results,
  .projects-filter {
    width: 270px;
    height: 506px;
  }

  .projects-row {
    margin-top: -481px;

    &.no-projects {
      height: 466px;
    }
  }
}

@media (max-width: 575px) {
  .completed-projects-hr {
    margin-left: -10px;
  }

  .completed-projects-text {
    margin-left: -10px;
  }

  .projects-filter {
    margin: 0 0 25px 0;
    width: 100%;
    height: 100%;
  }

  #no-results {
    width: 100%;
    height: 100%;
  }

  .projects-row {
    margin-top: 0;

    &.no-projects {
      height: inherit;
    }
  }

  .website-title-button {
    width: 230px;
  }

  .status-carousel {
    .carousel-control-prev {
      left: -5px;
    }

    .carousel-control-next {
      right: 23px;
    }
  }
}

.archive-pagination {
  font-size: 30px;

  .pagination-string {
    font-size: 22px;
  }
}
