.page .image-cover {
  height: 260px;
}

.bg-grijs-blauw {
  background: linear-gradient($grijs-5 55%, $lichtblauw 45%);
}

.carousel-controls {
  position: absolute;
  top: 50%;
  padding: 0;
}

.carousel-control-next {
  right: 28px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }
}

.carousel-control-prev-icon::before {
  content: "<";
}

.carousel-control-next-icon::before {
  content: ">";
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;

  &::before {
    color: $blauw;
    font-size: 90px;
    font-weight: bold;
  }
}

.box {
  perspective: 170px;
  position: relative;

  .cube {
    transform: rotateY(10deg);

    .screenshot-big {
      transform: scale(0.7, 0.7);
      box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2), -6px 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.website-title-button {
  display: block;
  margin-bottom: 0;
  top: -60px;
  width: 230px;
}

.carousel-indicators {
  position: relative;
  list-style: none;
  margin: 0;

  li {
    width: 25%;
    // Set height of original carousel indicator lines to auto
    height: auto;
    background-color: inherit;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
    border: none;

    &.active {
      z-index: 100;

      img {
        width: 192px;
        height: 120px;
        opacity: 1;
        transition: width 0.5s, height 0.5s, opacity 0.5s;
      }
    }

    &:not(.active) {
      .website-title-button {
        color: $blauw;
        border-color: $blauw;

        &:hover {
          color: white;
          background-color: $blauw;
        }
      }

      img {
        width: 160px;
        height: 100px;
        opacity: 0.5;
        transition: width 0.5s, height 0.5s, opacity 0.5s;
      }
    }

    div,
    div button {
      position: relative;
    }
  }
}

.carousel-item {
  h2 {
    font-size: 29px;
  }

  header {
    // make sure that the transformed .cube plane falls below the link
    position: relative;
    z-index: 100;
  }
}

.small-screenshot {
  flex-direction: column;
  height: 120px;
  margin-bottom: 20px;
}

.open-site {
  position: absolute;
  top: 50%;
  left: 20%;
  margin: 0;
}

.inverse-paars-button {
  /* stylelint-disable */
  a,
  button {
    color: $paars;
    background-color: white;

    &:hover {
      color: white;
      background-color: $paars;
    }
  }
  /* stylelint-enable */
}

.status {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
  letter-spacing: 0.04em;
}

.status-list {
  list-style: none;
  padding-left: 0;
}

#carouselStatusControls .carousel-indicators {
  li,
  img {
    opacity: 1;
  }
}

.status-indicator {
  background-color: white;
  border-radius: 6px;
  font-style: italic;
  font-weight: 700;
  padding-top: 15px;
  cursor: pointer;
  text-indent: 0;

  &:hover {
    background-color: $grijs-5;
  }
}

.active .status-indicator {
  background-color: $grijs-15;
}

#carouselStatusControls .status-indicator {
  img {
    height: auto;
    width: auto;
  }
}

.status-carousel {
  .carousel-control-prev {
    left: -40px;
  }

  .carousel-control-next {
    right: -12px;
  }
}

.status-big {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  font-weight: 700;
  color: $zwart;
}

.status-wijzer {
  position: absolute;
  width: 24%;
  top: -28%;
  left: 38%;
}

.status-wijzer-1 {
  transform: rotate(-80deg);
  transform-origin: 50% 78%;
}

.status-wijzer-2 {
  transform: rotate(-40deg);
  transform-origin: 50% 78%;
}

.status-wijzer-3 {
  transform: rotate(0deg);
  transform-origin: 50% 78%;
}

.status-wijzer-4 {
  transform: rotate(40deg);
  transform-origin: 50% 78%;
}

.status-wijzer-5 {
  transform: rotate(80deg);
  transform-origin: 50% 78%;
}

.left-corners {
  border: 1px solid $grijs-15;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.right-corners {
  border: 1px solid white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 100%;
}

.search-bar {
  padding: 25px;
  margin-bottom: 50px;
}

@media (max-width: 1199px) {
  .website-title-button {
    width: 190px;
  }
}

@media (max-width: 991px) {
  .carousel-indicators {
    top: 60px;

    li {
      width: auto;
    }
  }

  .carousel-item {
    h2 {
      font-size: 26px;
    }
  }

  .small-screenshot {
    height: auto;
  }

  .carousel-controls {
    top: 67%;
  }

  .website-title-button {
    width: 300px;
  }
}

@media (max-width: 575px) {
  .website-title-button {
    width: 230px;
  }
}

.archive-pagination {
  font-size: 30px;

  .pagination-string {
    font-size: 22px;
  }
}
