body {
  font-family: $font-family-text;
  color: $zwart;
  word-wrap: break-word;
  overflow-x: hidden;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 32px;

  a:hover {
    color: $paars;
    text-decoration: underline;
  }
}

h1 {
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 69px;
}

h2 {
  color: $paars;
  font-size: 30px;
  font-style: bold;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 40px;
}

h3 {
  font-family: $font-family-text-light;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 40px;
}

h4 {
  color: #000;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 36px;
  padding-left: 30px;

  a:hover {
    color: $paars;
    text-decoration: underline;
  }
}

h5 {
  font-family: $font-family-text-light;
  color: #000;
  font-size: 33px;
  font-weight: 300;
  line-height: 38px;
}

h6 {
  color: $paars;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 767px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }

  h1 {
    font-size: 60px;
    line-height: 65px;
  }

  h2 {
    font-size: 26px;
    line-height: 36px;
  }

  h3 {
    font-size: 26px;
    line-height: 36px;
  }

  h4 {
    font-size: 22px;
    line-height: 32px;
  }

  h5 {
    font-size: 29px;
    line-height: 34px;
  }

  h6 {
    font-size: 26px;
    line-height: 36px;
  }
}

body:not(.home):not(.paged) .wrap {
  padding-top: 30px;
  padding-bottom: 34px;
}

.btn {
  color: #fff;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 4px 8px 0 8px !important;
  margin-bottom: 14px;
  border-width: 2px;
}

.btn-paars {
  background-color: $paars;
  border-color: $paars;

  &:hover {
    background-color: white;
    color: $paars;
    border-color: $paars;
  }
}

.text-paars {
  color: $paars;
}

.text-donkerpaars {
  color: $donkerpaars;
}

.text-donkerblauw {
  color: $donkerblauw;
}

.bg-grijs-15 {
  background-color: $grijs-15;
}

.bg-grijs-10 {
  background-color: $grijs-10;
}

.bg-grijs-5 {
  background-color: $grijs-5;
}

.bg-roze {
  background-color: $roze;
}

.bg-lichtblauw {
  background-color: $lichtblauw;
}

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  clear: float;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: rgba($paars, 0.5);

  &.overlay-blauw {
    background-color: rgba($blauw, 0.5);
  }

  &.overlay-paars {
    background-color: rgba($paars, 0.5);
  }
}

a:hover .overlay-blauw {
  background-color: rgba($blauw, 0);
  transition: 0.5s;

  time {
    color: $yellow;
  }
}

a:hover .overlay-paars {
  background-color: rgba($paars, 0);
  transition: 0.5s;
}

hr {
  border: 2px solid $zwart;
}

.image-cover {
  object-fit: cover;
  width: 100%;
  z-index: 200;
}
