body {
  font-family: $font-family-text;
  color: $zwart;
  word-wrap: break-word;
  overflow-x: hidden;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 32px;

  a {
    text-decoration: none !important;
  }

  a:hover {
    color: $paars;
    text-decoration: underline !important;
  }
}

h1 {
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 69px;
}

h2 {
  color: $paars;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 40px;
}

h3 {
  font-family: $font-family-text;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 40px;
}

h4 {
  color: #000;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 36px;
  padding-left: 30px;

  a:hover {
    color: $paars;
    text-decoration: underline;
  }
}

h5 {
  font-family: $font-family-text;
  color: #000;
  font-size: 33px;
  font-weight: 300;
  line-height: 38px;
}

h6 {
  color: $paars;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 767px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }

  h1 {
    font-size: 26px;
    line-height: 36px;
  }

  h2 {
    font-size: 25px;
    line-height: 35px;
  }

  h3 {
    font-size: 24px;
    line-height: 34px;
  }

  h4 {
    font-size: 22px;
    line-height: 32px;
  }

  h5 {
    font-size: 29px;
    line-height: 34px;
  }

  h6 {
    font-size: 26px;
    line-height: 36px;
  }
}

body:not(.home):not(.paged) .wrap {
  padding-top: 30px;
  padding-bottom: 34px;
}

nav li:not(.btn).active a:not(.btn) {
  color: $donkerpaars;

  &:hover {
    color: $paars;
  }
}

// Make space for the WordPress admin bar when logged in
.admin-bar .fixed-top {
  top: 46px;

  @media (min-width: 783px) {
    top: 32px;
  }
}

.btn {
  color: #fff;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 4px 8px 0 8px !important;
  margin-bottom: 14px;
  border-width: 2px;
}

.btn-paars {
  background-color: $paars;
  border-color: $paars;

  &:hover {
    background-color: white;
    color: $paars;
    border-color: $paars;
  }
}

.text-paars {
  color: $paars;
}

.text-donkerpaars {
  color: $donkerpaars;
}

.text-donkerblauw {
  color: $donkerblauw;
}

.text-donkerderblauw {
  color: $donkerderblauw;
}

.bg-grijs-30 {
  background-color: $grijs-30;
}

.bg-grijs-15 {
  background-color: $grijs-15;
}

.bg-grijs-10 {
  background-color: $grijs-10;
}

.bg-grijs-5 {
  background-color: $grijs-5;
}

.bg-roze {
  background-color: $roze;
}

.bg-grijsblauw {
  background-color: $grijsblauw;
}

.bg-lichtblauw {
  background-color: $lichtblauw;
}

.image-credit-div {
  margin-bottom: -32px;
}

.image-credit {
  position: relative;
  top: -52px;
  left: -3px;
  margin-bottom: -40px;
  background-color: #73247555;
  border-color: #732475aa;
  border-radius: 30px;
  font-size: 12px;
}

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  clear: float;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: rgba($paars, 0.5);

  &.overlay-blauw {
    background-color: rgba($blauw, 0.5);
  }

  &.overlay-donkerpaars {
    background-color: rgba($donkerpaars, 0.5);
  }

  &.overlay-paars {
    background-color: rgba($paars, 0.5);
  }
}

a:hover .overlay-blauw {
  background-color: rgba($blauw, 0);
  transition: 0.5s;

  time {
    color: $yellow;
  }
}

a:hover .overlay-donkerpaars {
  background-color: rgba($donkerpaars, 0);
  transition: 0.5s;
}

a:hover .overlay-paars {
  background-color: rgba($paars, 0);
  transition: 0.5s;
}

hr {
  border: 2px solid $zwart;
}

.image-cover {
  object-fit: cover;
  width: 100%;
  z-index: 200;
}

article {
  margin-bottom: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.rm-gutter {
  padding-left: 0;
  padding-right: 0;
}

.rm-gutter-left {
  padding-left: 0;
}

.rm-gutter-right {
  padding-right: 0;
}

@media (min-width: 1200px) {
  .rm-gutter-xl-left {
    padding-left: 0;
  }
}
